.average-percentage-payout-intro {
  padding-bottom: 10px;

  .title {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .average-percentage-payout-intro {
    .title {
      font-size: 21px;
    }
  }
}