.most-frequent-main-numbers {
  padding-bottom: 8px;

  .btn-most-frequent-main {
    font-size: 16.8px;
    margin: 0 0.387852460923865% 0.387852460923865% 0;
    padding: 10px 0;
    width: 12.112147539076116875%;
  }
}