.most-frequent-combined-intro {
  padding-bottom: 10px;

  .title {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .most-frequent-combined-intro {
    .title {
      font-size: 22px;
    }
  }
}