.btn-sim {
  margin-bottom: 2px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.btn-primary {
  color: #fff;
  background-color: #2780e3;
  border-color: #1967be;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #1967be;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1967be;
  border-color:#204d74;
}
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1967be;
  border-color: #204d74;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #1967be;
  border-color: #122b40;
}
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #2780e3;
  border-color: #1967be;
}
.btn-primary .badge {
  color: #2780e3;
  background-color: #fff;
}