.sim-intro {
  padding-bottom: 10px;

  .title {
    font-size: 23px;
  }

  .tagline {
    margin-bottom: 20px;
  }

  .panel-group {
    margin-bottom: 0;

    .panel-primary>.panel-heading {
      background-color: #2780e3;
      border-color: #1967be;

      .glyphicon {
        float: right;
      }
    }
  }
}

@media (max-width: 320px) {
  .sim-intro {
    .title {
      font-size: 22px;
    }
  }
}