.stats {
  margin-bottom: 11px;

  .btn {
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 1%;
    padding: .25em .6em .25em;
    width: 100%;

    &.disabled {
      opacity: 1;
    }
  }
}