.total-draws-numbers {
  padding-bottom:  9px;

  .btn-total-draws-numbers {
    font-size: 16.8px;
    margin: 0 0 0.387852460923865% 0;
    padding: 12px 0;
    width: 100%;

    &.disabled {
      opacity: 1;
    }
  }
}